@charset "UTF-8";

a:link {
	color: green;
}

a:visited {
	color: orange;
}

.error-messages, .error-comment-messages, .error-login-messages {
	color: red;
}

.header, .footer {
	font-weight: bold;
}

.header, .footer {
	color: blue;
}

.comment, .user-messages > .text {
	white-space: pre-wrap;
}

.form-area > p {
	content: '\A';
	white-space: pre;
}

#setting-button, #stop-button {
	display: inline;
}

.user-message {
	margin-bottom: 1em;
	font-weight: bold;
}

.user-comment {
	margin-bottom: 1em;
}

.post-comment {
	margin-bottom: 3em;
}

.main-contents {
	text-align: center;
}

#search-execute {
	margin-bottom: 3em;
}

.user-infomation {
	margin-bottom: 2em;
}

ul li {
	list-style: none;
}

.signup-user div {
	content: "\A";
	white-space: pre;
}

.signup-user label {
	margin-right: 10px;
	width: 50px;
}

.signup-user input {
	width: 100px;

}

.signup-user {
	text-align: left;
	margin-left: 160px;
}